{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "jsxBracketSameline": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}
